*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #8bacda;
  background-color: #0d192b;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

.card {

}
