*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #8BACDA;
  background-color: #0D192B;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  /* margin-top: 50px; */
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #00FFF7;
}

/* NFT Card style */

/* .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 50px auto;
} */

.card {
  width: 350px;
  background-color: #14253D;
  border-radius: 15px;
  padding: 25px;
  margin: 50px auto;
  /* box-shadow:  */
}

.card-img {
  display: block;
  border-radius: 15px;
  max-height: 100%;
  max-width: 100%;
}

.card-body {
  padding: 22px 0;
  border-bottom: 1px solid #2F415B;
}

.card-title {
font-size: 22px;
font-weight: 600;
/* margin-bottom: 20px;
margin-top: 20px; */
margin: 0;
}

.card-text {
  font-weight: 300;
}

.info-price {
  color: #00FFF7;
}

.info-timer {
  font-weight: 300;
}

.card-author {
  font-weight: 300;
}

/* Other styles */

.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
